@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "dana-medium", "sans-serif";
    background: #fbffff;
  }

  html {
    direction: rtl;
    scroll-behavior: smooth;
  }

  /* Add dana font */
  @font-face {
    font-family: "dana-black";
    src: url("../fonts/dana-black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: "dana-bold";
    src: url("../fonts/dana-bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "dana-medium";
    src: url("../fonts/dana-medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "dana-light";
    src: url("../fonts/dana-light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }

  input {
    user-select: none !important;
  }

  h1 {
    @apply text-4xl font-bold text-gray-800;
  }

  h2 {
    @apply text-3xl font-semibold text-gray-700;
  }

  h3 {
    @apply text-2xl font-medium text-gray-600;
  }

  h4 {
    @apply text-xl font-medium text-gray-600;
  }

  h5 {
    @apply text-lg font-medium text-gray-600;
  }

  h6 {
    @apply text-base font-medium text-gray-600;
  }
}

@layer components {
  #header-burger-btn {
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
    cursor: pointer;
  }

  #header-burger-btn span {
    position: absolute;
    background-color: #000;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.4s ease 0s;
    border-radius: 10px;
  }

  #header-burger-btn:before,
  #header-burger-btn:after {
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.4s ease-in-out 0s;
    border-radius: 10px;
  }

  #header-burger-btn:before {
    top: 0;
  }

  #header-burger-btn:after {
    bottom: 0;
  }

  #header-burger-btn.active span {
    transform: scale(0);
  }

  #header-burger-btn.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  #header-burger-btn.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
}

@layer utilities {
  .dir-ltr {
    direction: ltr;
  }
}
