<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>وبسایت ایران کاور</title>
    <link rel="stylesheet" href="../static/css/output.css" />
    <!-- add fontAwesome for icons -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Round"
      rel="stylesheet"
    />
  </head>
  <body>
    <!------------------ Header ------------------>
    <header class="px-12 py-4 bg-white shadow-sm">
      <div class="flex items-center justify-between">
        <a href="#" class="block text-2xl font-bold">ایران کاور</a>

        <ul class="flex items-center gap-7">
          <li>
            <a
              href="#"
              class="flex items-center gap-2 px-3 py-2 mb-1 transition-all hover:text-primary-main text-primary-main"
              ><img src="../static/icons/home.svg" alt="home" />
              <span class="-mb-1">خانه</span></a
            >
          </li>
          <li>
            <a
              href="#"
              class="flex items-center gap-2 px-3 py-2 mb-1 transition-all hover:text-primary-main"
              ><img src="../static/icons/samples.svg" alt="samples" />
              <span class="-mb-1">نمونه کار ها</span></a
            >
          </li>
          <li>
            <a
              href="#"
              class="flex items-center gap-2 px-3 py-2 mb-1 transition-all hover:text-primary-main"
              ><img src="../static/icons/weblogs.svg" alt="weblogs" />
              <span class="-mb-1">مقالات</span></a
            >
          </li>
        </ul>

        <a
          href="#"
          class="px-5 py-2 text-white transition-all rounded-md bg-primary-main hover:bg-primary-dark"
          >تماس با ما</a
        >
      </div>
    </header>
  </body>
</html>
