<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>وبسایت ایران کاور</title>
    <!-- add fontAwesome for icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../static/css/output.css" />
  </head>
  <body>
    <!------------------ Header ------------------>
    <header
      class="fixed top-0 w-full px-5 py-4 bg-white shadow-sm md:static md:px-7 lg:px-10"
      id="main-header"
    >
      <div class="flex items-center justify-between">
        <!-- burger button -->
        <div class="md:hidden" id="header-burger-btn">
          <span></span>
        </div>

        <a href="./index.html" class="block text-2xl font-bold">ایران کاور</a>

        <!-- nav list -->
        <nav
          class="fixed items-center w-full h-screen p-4 transition-all duration-500 top-[64px] -right-full md:py-0 md:bg-transparent md:flex-1 md:justify-around md:h-auto md:flex md:static bg-black/80 backdrop-blur-md"
          id="header-navbar"
        >
          <ul
            class="flex-1 mt-16 mb-8 md:flex md:justify-center md:my-0 md:gap-4"
          >
            <li class="w-full mb-4 md:w-auto md:mb-0">
              <a
                href="./index.html"
                class="flex items-center gap-2 px-3 py-3 mb-1 transition-all bg-gray-100 rounded-md header-link md:bg-transparent hover:bg-white md:hover:text-primary-main"
                ><img src="../static/icons/home.svg" alt="home" />
                <span class="-mb-1">خانه</span></a
              >
            </li>
            <li class="w-full mb-4 md:w-auto md:mb-0">
              <a
                href="./work-samples.html"
                class="flex items-center gap-2 px-3 py-3 mb-1 transition-all bg-gray-100 rounded-md header-link md:bg-transparent hover:bg-white md:hover:text-primary-main"
                ><img src="../static/icons/samples.svg" alt="samples" />
                <span class="-mb-1">نمونه کار ها</span></a
              >
            </li>
            <li class="w-full mb-4 md:w-auto md:mb-0">
              <a
                href="./blogs.html"
                class="flex items-center gap-2 px-3 py-3 mb-1 transition-all bg-gray-100 rounded-md header-link md:bg-transparent hover:bg-white md:hover:text-primary-main"
                ><img src="../static/icons/weblogs.svg" alt="weblogs" />
                <span class="-mb-1">مقالات</span></a
              >
            </li>
          </ul>

          <a
            href="./contact-us.html"
            class="block px-5 py-3 text-white transition-all rounded-md header-link bg-primary-main hover:bg-primary-dark"
            ><span class="block -mb-1">تماس با ما</span></a
          >
        </nav>
      </div>
    </header>

    <div class="mx-auto w-[95%] md:w-[90%] mt-20 lg:w-[70%] md:mt-12">
      <img
        src="../static/images/header-img.jpg"
        alt="image"
        class="rounded-lg"
      />
    </div>

    <!--------------------- infos Section --------------------->
    <div class="mx-5 mt-8 text-center md:text-right md:mx-12 md:mt-14">
      <h3 class="mb-2 font-bold text-gray-800 md:mb-4">
        به راستی که صوفی کیست؟ 😎
      </h3>
      <p class="leading-8 text-gray-600">
        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده
        از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و
        سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای
        متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه
        درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با
        نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان
        خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید
        داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان
        رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات
        پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
      </p>
    </div>

    <!--------------------- Work Samples Section --------------------->
    <div class="mx-5 md:mx-12 mt-14">
      <h3 class="mb-4 text-3xl font-bold text-center text-gray-800">
        نمونه کار ها
      </h3>

      <ul
        class="grid items-start grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3"
      >
        <li class="p-3 bg-white rounded-md shadow-md">
          <img
            src="../static/images/work-sample-3.png"
            alt="work sample"
            class="object-cover w-full mb-4 rounded-sm h-[270px]"
          />
          <h3 class="mb-2 text-center text-slate-800">نمونه کار شماره ۱</h3>
          <p class="leading-7 text-center text-gray-600">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
            استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در
            ستون و سطرآنچنان که لازم است
          </p>
        </li>
        <li class="p-3 bg-white rounded-md shadow-md">
          <img
            src="../static/images/work-sample-2.png"
            alt="work sample"
            class="object-cover w-full mb-4 rounded-sm h-[270px]"
          />
          <h3 class="mb-2 text-center text-slate-800">نمونه کار شماره ۲</h3>
          <p class="leading-7 text-center text-gray-600">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
            استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در
            ستون و سطرآنچنان که لازم است
          </p>
        </li>
        <li class="p-3 bg-white rounded-md shadow-md">
          <img
            src="../static/images/work-sample-1.png"
            alt="work sample"
            class="object-cover w-full mb-4 rounded-sm h-[270px]"
          />
          <h3 class="mb-2 text-center text-slate-800">نمونه کار شماره ۳</h3>
          <p class="leading-7 text-center text-gray-600">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
            استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در
            ستون و سطرآنچنان که لازم است
          </p>
        </li>
        <li class="p-3 bg-white rounded-md shadow-md">
          <img
            src="../static/images/work-sample-2.png"
            alt="work sample"
            class="object-cover w-full mb-4 rounded-sm h-[270px]"
          />
          <h3 class="mb-2 text-center text-slate-800">نمونه کار شماره ۴</h3>
          <p class="leading-7 text-center text-gray-600">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
            استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در
            ستون و سطرآنچنان که لازم است
          </p>
        </li>
        <li class="p-3 bg-white rounded-md shadow-md">
          <img
            src="../static/images/work-sample-3.png"
            alt="work sample"
            class="object-cover w-full mb-4 rounded-sm h-[270px]"
          />
          <h3 class="mb-2 text-center text-slate-800">نمونه کار شماره ۵</h3>
          <p class="leading-7 text-center text-gray-600">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
            استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در
            سطرآنچنان که لازم است
          </p>
        </li>
      </ul>
    </div>

    <!--------------------- Weblogs Section --------------------->
    <div class="mx-5 mt-24 md:mt-10 md:mx-12">
      <h3 class="text-3xl font-bold text-center text-gray-800">آخرین مقالات</h3>
      <ul
        class="grid items-start grid-cols-1 gap-4 mt-36 gap-y-32 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
      >
        <li
          class="p-4 transition-all duration-500 bg-white rounded-lg shadow-xl cursor-pointer hover:shadow-2xl group"
        >
          <img
            src="../static/images/weblog-1.png"
            alt="weblog img"
            class="object-cover w-[94%] mx-auto rounded-lg -mt-28 duration-500 group-hover:scale-110 transition-all"
          />
          <h4
            class="mt-5 mb-2 font-bold text-center transition-all text-slate-800"
          >
            چرا ساعت ها عقربه دارند؟
          </h4>
          <p class="leading-7 text-center text-gray-600 transition-all">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
            سطرآنچنان که لازم است
          </p>

          <div class="flex items-center justify-between mt-4">
            <p class="text-gray-600">
              <i class="ml-1 fa fa-user"></i>
              علی عبدالمالکی
            </p>
            <p class="text-gray-600">
              <i class="ml-1 far fa-calendar"></i>
              ۱۴۰۳/۰۹/۲۲
            </p>
          </div>
          <hr class="my-3" />
          <a
            href="#"
            class="flex items-center justify-center gap-2 pt-1 text-center transition-all hover:text-primary-dark"
            >مطالعه مقاله <i class="fas fa-arrow-circle-left"></i
          ></a>
        </li>

        <li
          class="p-4 transition-all duration-500 bg-white rounded-lg shadow-xl cursor-pointer hover:shadow-2xl group"
        >
          <img
            src="../static/images/weblog-2.png"
            alt="weblog img"
            class="object-cover w-[94%] mx-auto rounded-lg -mt-28 duration-500 group-hover:scale-110 transition-all"
          />
          <h4
            class="mt-5 mb-2 font-bold text-center transition-all text-slate-800"
          >
            چرا گوشی ها توی دست جا میشوند؟
          </h4>
          <p class="leading-7 text-center text-gray-600 transition-all">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
            سطرآنچنان که لازم است
          </p>

          <div class="flex items-center justify-between mt-4">
            <p class="text-gray-600">
              <i class="ml-1 fa fa-user"></i>
              علی عبدالمالکی
            </p>
            <p class="text-gray-600">
              <i class="ml-1 far fa-calendar"></i>
              ۱۴۰۳/۰۹/۲۲
            </p>
          </div>
          <hr class="my-3" />
          <a
            href="#"
            class="flex items-center justify-center gap-2 pt-1 text-center transition-all hover:text-primary-dark"
            >مطالعه مقاله <i class="fas fa-arrow-circle-left"></i
          ></a>
        </li>
        <li
          class="p-4 transition-all duration-500 bg-white rounded-lg shadow-xl cursor-pointer hover:shadow-2xl group"
        >
          <img
            src="../static/images/weblog-3.png"
            alt="weblog img"
            class="object-cover w-[94%] mx-auto rounded-lg -mt-28 duration-500 group-hover:scale-110 transition-all"
          />
          <h4
            class="mt-5 mb-2 font-bold text-center transition-all text-slate-800"
          >
            چرا لب تاپ داریم ولی دماغ تاپ نداریم؟
          </h4>
          <p class="leading-7 text-center text-gray-600 transition-all">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
            سطرآنچنان که لازم است
          </p>

          <div class="flex items-center justify-between mt-4">
            <p class="text-gray-600">
              <i class="ml-1 fa fa-user"></i>
              علی عبدالمالکی
            </p>
            <p class="text-gray-600">
              <i class="ml-1 far fa-calendar"></i>
              ۱۴۰۳/۰۹/۲۲
            </p>
          </div>
          <hr class="my-3" />
          <a
            href="#"
            class="flex items-center justify-center gap-2 pt-1 text-center transition-all hover:text-primary-dark"
            >مطالعه مقاله <i class="fas fa-arrow-circle-left"></i
          ></a>
        </li>
        <li
          class="p-4 transition-all duration-500 bg-white rounded-lg shadow-xl cursor-pointer hover:shadow-2xl group"
        >
          <img
            src="../static/images/weblog-1.png"
            alt="weblog img"
            class="object-cover w-[94%] mx-auto rounded-lg -mt-28 duration-500 group-hover:scale-110 transition-all"
          />
          <h4
            class="mt-5 mb-2 font-bold text-center transition-all text-slate-800"
          >
            چرا ساعت ها عقربه دارند؟
          </h4>
          <p class="leading-7 text-center text-gray-600 transition-all">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
            سطرآنچنان که لازم است
          </p>

          <div class="flex items-center justify-between mt-4">
            <p class="text-gray-600">
              <i class="ml-1 fa fa-user"></i>
              علی عبدالمالکی
            </p>
            <p class="text-gray-600">
              <i class="ml-1 far fa-calendar"></i>
              ۱۴۰۳/۰۹/۲۲
            </p>
          </div>
          <hr class="my-3" />
          <a
            href="#"
            class="flex items-center justify-center gap-2 pt-1 text-center transition-all hover:text-primary-dark"
            >مطالعه مقاله <i class="fas fa-arrow-circle-left"></i
          ></a>
        </li>

        <li
          class="p-4 transition-all duration-500 bg-white rounded-lg shadow-xl cursor-pointer hover:shadow-2xl group"
        >
          <img
            src="../static/images/weblog-2.png"
            alt="weblog img"
            class="object-cover w-[94%] mx-auto rounded-lg -mt-28 duration-500 group-hover:scale-110 transition-all"
          />
          <h4
            class="mt-5 mb-2 font-bold text-center transition-all text-slate-800"
          >
            چرا گوشی ها توی دست جا میشوند؟
          </h4>
          <p class="leading-7 text-center text-gray-600 transition-all">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
            سطرآنچنان که لازم است
          </p>

          <div class="flex items-center justify-between mt-4">
            <p class="text-gray-600">
              <i class="ml-1 fa fa-user"></i>
              علی عبدالمالکی
            </p>
            <p class="text-gray-600">
              <i class="ml-1 far fa-calendar"></i>
              ۱۴۰۳/۰۹/۲۲
            </p>
          </div>
          <hr class="my-3" />
          <a
            href="#"
            class="flex items-center justify-center gap-2 pt-1 text-center transition-all hover:text-primary-dark"
            >مطالعه مقاله <i class="fas fa-arrow-circle-left"></i
          ></a>
        </li>
        <li
          class="p-4 transition-all duration-500 bg-white rounded-lg shadow-xl cursor-pointer hover:shadow-2xl group"
        >
          <img
            src="../static/images/weblog-3.png"
            alt="weblog img"
            class="object-cover w-[94%] mx-auto rounded-lg -mt-28 duration-500 group-hover:scale-110 transition-all"
          />
          <h4
            class="mt-5 mb-2 font-bold text-center transition-all text-slate-800"
          >
            چرا لب تاپ داریم ولی دماغ تاپ نداریم؟
          </h4>
          <p class="leading-7 text-center text-gray-600 transition-all">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
            سطرآنچنان که لازم است
          </p>

          <div class="flex items-center justify-between mt-4">
            <p class="text-gray-600">
              <i class="ml-1 fa fa-user"></i>
              علی عبدالمالکی
            </p>
            <p class="text-gray-600">
              <i class="ml-1 far fa-calendar"></i>
              ۱۴۰۳/۰۹/۲۲
            </p>
          </div>
          <hr class="my-3" />
          <a
            href="#"
            class="flex items-center justify-center gap-2 pt-1 text-center transition-all hover:text-primary-dark"
            >مطالعه مقاله <i class="fas fa-arrow-circle-left"></i
          ></a>
        </li>
        <li
          class="p-4 transition-all duration-500 bg-white rounded-lg shadow-xl cursor-pointer hover:shadow-2xl group"
        >
          <img
            src="../static/images/weblog-1.png"
            alt="weblog img"
            class="object-cover w-[94%] mx-auto rounded-lg -mt-28 duration-500 group-hover:scale-110 transition-all"
          />
          <h4
            class="mt-5 mb-2 font-bold text-center transition-all text-slate-800"
          >
            چرا ساعت ها عقربه دارند؟
          </h4>
          <p class="leading-7 text-center text-gray-600 transition-all">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
            سطرآنچنان که لازم است
          </p>

          <div class="flex items-center justify-between mt-4">
            <p class="text-gray-600">
              <i class="ml-1 fa fa-user"></i>
              علی عبدالمالکی
            </p>
            <p class="text-gray-600">
              <i class="ml-1 far fa-calendar"></i>
              ۱۴۰۳/۰۹/۲۲
            </p>
          </div>
          <hr class="my-3" />
          <a
            href="#"
            class="flex items-center justify-center gap-2 pt-1 text-center transition-all hover:text-primary-dark"
            >مطالعه مقاله <i class="fas fa-arrow-circle-left"></i
          ></a>
        </li>
      </ul>
    </div>

    <!--------------------- Contact Section --------------------->
    <div class="mx-5 mt-10 md:mx-12">
      <h3 class="text-3xl font-bold text-center text-gray-800">ارتباط با ما</h3>
      <div
        class="flex flex-col items-center justify-between gap-10 mt-10 lg:flex-row"
      >
        <section class="flex-1">
          <img
            src="../static/images/contact.png"
            alt="contact"
            class="w-4/6 mx-auto"
          />
          <div>
            <!-- address -->
            <div class="mt-4">
              <h4 class="text-slate-900">آدرس:</h4>
              <p class="mt-2 leading-8">
                تهران، خیابان ابوریحان داخلی، کوچه ذکریای ناراضی، پلاک ۸۵، زنگ
                ۶۹
              </p>
            </div>
          </div>
        </section>

        <section class="flex flex-col items-center flex-1 w-full gap-4">
          <a
            href="tel:0214808864"
            class="flex items-center justify-around w-full px-4 py-5 bg-white rounded-md shadow-md md:w-3/6 lg:w-4/5 xl:w-3/5 hover:bg-blue-100/20"
          >
            <div class="flex flex-col items-center gap-4">
              <img
                src="../static/images/phone-icon.png"
                alt="phone icon"
                class="w-16 md:w-20"
              />
              <span>شماره تماس</span>
            </div>
            <span class="dir-ltr">021_4808864</span>
          </a>

          <a
            href="#"
            class="flex items-center justify-around w-full px-4 py-5 bg-white rounded-md shadow-md md:w-3/6 lg:w-4/5 xl:w-3/5 hover:bg-blue-100/20"
          >
            <div class="flex flex-col items-center gap-4">
              <img
                src="../static/images/eitaa-logo.png"
                alt="aita"
                class="w-16 md:w-20"
              />
              <span>ایتا</span>
            </div>
            <span class="dir-ltr">eita link</span>
          </a>

          <a
            href="https://t.me/..."
            class="flex items-center justify-around w-full px-4 py-5 bg-white rounded-md shadow-md md:w-3/6 lg:w-4/5 xl:w-3/5 hover:bg-blue-100/20"
          >
            <div class="flex flex-col items-center gap-4">
              <img
                src="../static/images/telegram-logo.png"
                alt="telegram"
                class="w-16 md:w-20"
              />
              <span>تلگرام</span>
            </div>
            <span class="dir-ltr">telegram id</span>
          </a>
        </section>
      </div>
    </div>

    <!--------------------- Footer------------------- -->
    <footer class="py-10 mt-10 text-white bg-gray-800">
      <div class="container grid grid-cols-1 gap-8 px-4 mx-auto md:grid-cols-3">
        <div class="contact-info">
          <h3
            class="pb-2 mb-4 text-lg font-bold text-center text-white border-b-2 border-white"
          >
            تماس با ما
          </h3>
          <div class="text-center">
            <p class="mb-2">
              ایمیل:
              <a
                href="mailto:example@gmail.com"
                class="text-blue-300 hover:underline"
                >example@gmail.com</a
              >
            </p>
            <p class="">
              شماره تماس:
              <a
                href="tel:+989123456789"
                class="inline-block text-blue-300 hover:underline dir-ltr"
                >+98 912 345 6789</a
              >
            </p>
          </div>
        </div>
        <div class="links">
          <h3
            class="pb-2 mb-4 text-lg font-bold text-center text-white border-b-2 border-white"
          >
            لینک‌های مفید
          </h3>
          <ul class="space-y-2 text-center">
            <li>
              <a href="./index.html" class="text-white hover:text-primary-main"
                >خانه</a
              >
            </li>
            <li>
              <a
                href="./work-samples.html"
                class="text-white hover:text-primary-main"
                >نمونه کار ها</a
              >
            </li>
            <li>
              <a href="./blogs.html" class="text-white hover:text-primary-main"
                >مقالات</a
              >
            </li>
            <li>
              <a
                href="./contact-us.html"
                class="text-white hover:text-primary-main"
                >تماس با ما</a
              >
            </li>
          </ul>
        </div>
        <div class="map">
          <h3
            class="pb-2 mb-4 text-lg font-bold text-center text-white border-b-2 border-white"
          >
            نقشه
          </h3>
         <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d51841.22558479139!2d51.26181844863279!3d35.69973259999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8dfe05732c2e91%3A0xfcbec017befd15f4!2sAzadiTower!5e0!3m2!1sen!2s!4v1728836950763!5m2!1sen!2s"
            class="h-[200px] w-full"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </div>
      </div>
    </footer>
    <!-- Scripts -->
    <script src="../static/js/main.js"></script>
  </body>
</html>
