<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>وبسایت ایران کاور</title>
    <link rel="stylesheet" href="../static/css/output.css" />
  </head>
  <body>
    <!------------------ Header ------------------>
    <header class="px-12 py-6 bg-white shadow-sm">
      <div class="flex items-center justify-between">
        <!-- logo -->
        <a href="#">ایران کاور</a>

        <!-- nav links -->
        <ul class="flex items-center gap-7">
          <li><a href="#">خانه</a></li>
          <li><a href="#">نمونه کار ها</a></li>
          <li><a href="#">وبلاگ</a></li>
        </ul>

        <!-- social icons -->
        <section></section>
      </div>
    </header>
  </body>
</html>
